// .App {
//     display: flex;
//     justify-content: center;
// }

.layout {
    display: flex;
    justify-content: center;

    .busList-layout {
        border: 2.5px solid black;
        color: #394751;
        max-height: 70vh;
        overflow: scroll;
        width: 400px;
        max-width: 500px;
        position: absolute;

        .bus_details {
            border-bottom: 1px solid grey;
            display: flex;
            flex-direction: row;
            font-size: 22px;

            >:first-child {
                flex: 1 1 0;
                padding: 1rem 0 1rem 1rem;
                font-weight: bold;
            }

            >:nth-child(2) {
                flex: 4 1 0;
                padding: 0.5rem 0.5rem 0.1rem 0.5rem;
                font-weight: bold;

                span {
                    font-size: 12px;
                    padding: 0px;
                    margin-right: 4px;
                    font-weight: normal;
                }

                div {
                    font-size: 16px;
                    padding: 0 0 0.2rem 0;
                    font-weight: normal;
                }
            }

            >:last-child {
                flex: 1 1 0;
                padding: 0.1rem 0.7rem 0rem 0;
                text-align: end;
                font-size: 30px;
                color: #005EB2;

                div {
                    font-size: 12px;
                    padding: 0;
                    color: #394751;
                    margin-top: -2px;
                }
            }
        }
    }
}

.busDetails_layout {
    max-height: 80vh;

    .right_bus_map {
        min-height: 40vh;

        .leaflet-container {
            width: 100%;
            height: 40vh;
        }

    }

    .right_bus_details {
        padding: 15px;
        border-top: 5px solid red;
        min-height: 18.5vh;

        h3 {
            margin-top: 0;
            margin-bottom: 10px;
            font-weight: normal;
        }

        div {
            padding-left: 19px;
            padding-bottom: 2px;
            color: #005EB2;
            width: 50px;
            text-align: end;

            span {
                color: #394751;
                font-size: 12px;
            }
        }
    }

    button {
        transition-duration: 0.4s;
        background-color: white;
        color: black;
        border: 2px solid #394751;
        border-radius: 10px;
        margin-bottom: 13px;
        margin-left: 30px;
    }

    button:hover {
        background-color: #394751;
        color: white;
    }
}